body, html, #root, .App {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #1D1B1B;
  min-height: 100%;
}

.App {
  display: flex;
  justify-content: center; 
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 4rem;
  flex-wrap: wrap;
}

.footer {
  margin-top: 3rem;
  text-align: center;
}

.heart-icon {
  max-width: 60px;
  max-height: 60px;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out;
}

/*========================================================*/


/* ==============================
   Sidebar Base Styling
   ============================== */

.sidebar {
  width: 16.7rem;
  height: 45rem;
  flex-shrink: 0;
  border-radius: 1.8125rem;
  background: #2B2A2A;
  padding: 3rem;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column; 
  align-items: center; /* Center contents horizontally */
  position:fixed;
}

.sidebar h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}


/* ==============================
   Contact Tag Styling
   ============================== */
.contact-tag {
  width: 12rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #3A3A3A;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  cursor: pointer;
}

.contact-tag:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.contact-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.contact-tag.copied {
  background: rgba(0, 0, 0, 0.453);
}

.contact-tag.copied::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* ==============================
   Avatar Styling
   ============================== */

.sidebar-square {
  width: 9.375rem;
  height: 9.375rem;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: #3A3A3A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.avatar-image {
  width: 90%; 
  height: auto; 
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ==============================
   Navigation Text Styling
   ============================== */

.nav-bar {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
  font-size: 0.95rem;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
  cursor: pointer;
}

.nav-bar::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: var(--underline-color, #f04877);
  transition: width 0.3s ease, left 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
  transform: translateX(-50%);
}

.nav-bar:hover::after {
  width: 100%;
  left: 50%;
  cursor: pointer;
}

.nav-bar:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* ==============================
   Social Icons Styling
   ============================== */

.sidebar-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.social-logo {
  width: 20px; 
  height: auto; 
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin: 0.7rem;
  cursor: pointer;
}

.social-logo:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.social-logo:hover {
  filter: brightness(80%);
}

/*========================================================*/

 
/* ==============================
   Main Content Styling
   ============================== */
.main-content {
  width: 57rem;
  flex-shrink: 0;
  border-radius: 1.8em;
  background: #2B2A2A;
  padding: 20px;
  padding-bottom: 2rem;
  padding-right:70px;
  padding-left: 70px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-left: 18.7rem;
  flex: 1;
}

.main-content p{
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85rem; 
}

.highlight {
  color: #79c8e2;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 590;
  line-height: 1.875rem;
}

.smaller-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; 
  margin-bottom: 3rem;
}

.main-content h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.1rem;
}

.main-content h2 {
  color: #676767;
  font-size: 2.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.1rem;
}

.main-content h3 {
  color: #efc26d;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3rem;
  margin-bottom:1.5rem;
}

.main-content h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:1rem;
  margin-bottom:1.5rem;
}

.main-content h5 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.work-description {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0rem;
}

/* ==============================
   Recent Work Styling
   ============================== */

   .recent-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 40px;
  }
  
  .work-item {
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    border-radius: 1.25rem; /* Apply border-radius to the container */
  }
  
  .work-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1.25rem; /* Maintain border-radius for the image */
    transition: transform 0.3s ease; /* Smooth transition for the scale effect */
  }
  
  .work-item:hover img {
    transform: scale(1.05); /* Scale up the image slightly on hover */
  }
  
  .work-item::after {
    content: ""; /* Remove background image and other styles */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire container */
    opacity: 0; /* Hide the pseudo-element */
    transition: opacity 0.3s ease;
  }
  
  .work-item-link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .tech-description {
    width: 100%;
    text-align: left;
    color: #b7b7b7;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 0rem;
  }

/* ==============================
   Blog Styling
   ============================== */
  .blog-box-link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
  
  .blog-box {
    background-color: #454343;
    border-radius: 1.25rem;
    padding: 1.25rem;
    color: white;
    transition: background-color 0.3s ease;
    position: relative;
    height: 100%;
  }
  
  .blog-title {
    font-size: 1.2rem; 
    font-weight: bold;
    margin-bottom: 0.75rem;
  }
  
  .blog-description {
    font-size: 0.96875rem;
    line-height: 0.6rem;
  }
  
  .blog-read-more {
    font-size: 0.96875rem; 
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  .arrow-icon {
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
  }
  
  .blog-box:hover .blog-title {
    color: #8A9BFB;
  }
  
  .blog-box:hover .arrow-icon {
    width: 1.2rem; 
    height: 1.2rem; 
  }
  
  
/* ==============================
   Tech Stack Styling
   ============================== */

  .tech-stack-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .tech-stack-logos img {
    width: auto;
    max-height: 60px; 
    margin-right: 1.6rem;
    margin-bottom: 1.4rem;
  }

/* ==============================
   Credentials Styling
   ============================== */
  .credentials {
    display: flex;
    flex-wrap: wrap;
  }

  .credential-item img {
    max-height: 65px;
    width: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top:1rem;
  }
  
  .credential-item {
    flex: 1 0 50%; /* Two items per row */
    display: flex;
    align-items: center;
  }

  .credential-title {
    font-weight: 600; /* Semi-bold */
    margin: 0; /* Reset margin */
    padding: 0;
    color: rgba(255, 255, 255, 0.9);
  }

  .credential-text {
    margin: 0; /* Reset margin */
    padding-top: 0.24rem;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9rem;
  }

  a.credential-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  a.credential-link:hover .credential-title, 
  a.credential-link:hover .credential-text {
    color: #8A9BFB;
    cursor: pointer;
  }
  
  @media (max-width: 775px) {
    .credential-item {
      flex: 1 0 100%; /* One item per row on smaller screens */
    }
    .credential-item img {
      max-height: 60px;
    }
  }
  

/*========================================================*/


/* ==============================
   Size Responsive Styling
   ============================== */

   @media (max-width: 1240px) {
    body {
      overflow-y: auto;
    }
    .container { 
      flex-direction: column;
    }
    .sidebar {
      width: 57rem;
      height: 12.8125rem;
      flex-shrink: 0;
      margin: 0 auto 2.7rem; 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
    }
    .main-content{
      margin: 0 auto;
    }
    .nav-bar {
      display: none; 
    }
    .sidebar-square {
      position: absolute;
      left: 2rem; 
      top: 50%; 
      transform: translateY(-50%);
    }
    .avatar-image {
      position: absolute;
      left: 0.7rem; 
      top: 50%; 
      transform: translateY(-50%);
    }
    .sidebar h1 {
      position: absolute;
      left: calc(9.375rem + 4rem); 
      top: 30%; 
      transform: translateY(-50%);
      line-height: normal;
    }
    .contact-tag {
      position: absolute;
      left: calc(9.375rem + 4rem); 
      top: 64%; 
      transform: translateY(-50%);
      line-height: normal;
      cursor: pointer;
    }
    
    .social-logo {
      margin: 0 1rem 1rem 1rem; /* Add margin at the bottom */
    }

  }

  
  @media (max-width: 970px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .sidebar {
      width: 90%; 
      height: auto; 
      position: relative; 
      margin-bottom: 2rem; 
    }
    .main-content {
      position: relative;
      width: 90%; 
      padding-left: 2rem; 
      padding-right: 2rem; 
      padding-top: 1rem;
    }
    .main-content h1 {
      font-size: 1.8rem; 
    }
    .main-content h2 {
      font-size: 1.6rem; 
    }
    .main-content h3 {
      font-size: 1.4rem; 
    }
    .main-content h4 {
      font-size: 1.7rem; 
    }
    .main-content h5 {
      font-size: 1.2rem; 
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }
    .main-content p, .highlight, .smaller-text {
      font-size: 1rem; 
    }
    .tech-description {
      font-size: 0.9rem;
    }
    .sidebar h1 {
      font-size: 1.6rem; 
      left: calc(9.375rem + 2.1rem); 
    }
    .sidebar-square {
      width: 8rem; 
      height: 8rem; 
    }
    .avatar-image {
      width: 88%; 
    }
    .contact-tag {
      width: 10rem; 
      height: 1.5rem; 
      font-size: 0.9rem;
      left: calc(9.375rem + 2.1rem);  
      cursor: pointer;
    }
    .nav-bar {
      display: none;
    }
    .sidebar-bottom {
      flex-direction: column; 
      align-items: center; 
    }
    .social-logo {
      margin: 0.5rem 0; 
      width: 20px; 
    }
    
    .work-item {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .work-item img {
      width: 100%;
      height: auto;
    }
    .tech-stack-logos img {
      width: auto;
      max-height: 49px; 
    }
  }

  @media (max-width: 718px) {
    .recent-work {
      grid-template-columns: 1fr;
    }
    .main-content h4 {
      margin-top: 3.5rem;
    }
    .smaller-text {
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 660px) {
    .main-content p, .highlight, .smaller-text, .work-description {
      font-size: 0.95rem;
      line-height: 1.6rem;
    }
    .credential-item img {
      max-height: 60px;
    }
    .container {
      margin: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .recent-work {
      grid-template-columns: 1fr;
      /*margin: 0 auto; /* Center the recent-work container */
    }
  }
  
  @media (max-width: 520px) {
    .container {
      margin: 1.2rem;
      margin-bottom: 2rem;
    }
    .credential-item img {
      max-height: 60px;
    }
    .sidebar {
      width: 100%; 
      height: auto; 
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .main-content {
      width: 100%;
      padding: 1.5rem;
      padding-top: 0.5rem;
      margin-left: 0;
      margin-right: 0;
    }
    .main-content h1 {
      font-size: 1.5rem;
    }
    .main-content h2 {
      font-size: 1.3rem;
    }
    .main-content h3 {
      font-size: 1.4rem;
    }
    .main-content h4 {
      font-size: 1.4rem;
    }
    .main-content h5 {
      font-size: 1.1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
    }
    .main-content p, .highlight, .smaller-text, .work-description {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
    .tech-description {
      font-size: 0.8rem;
    }
    .sidebar h1 {
      font-size: 1.3rem;
      left: 8.5rem; 
    }
    .sidebar-square {
      width: 6rem;
      height: 5.8rem;
      border-radius: 1.8rem;
      left: 1.1rem;
    }
    .avatar-image {
      width: 90%;
      left: 0.3rem; 
    }
    .contact-tag {
      width: 9rem;
      height: 1.5rem;
      font-size: 0.8rem;
      top:71%;
      left: 8.5rem;
      cursor: pointer;  
    }
    .sidebar-bottom {
      margin-top: 1rem;
    }
    .social-logo {
      width: 15px;
      margin-right:0.7rem;
    }
    .recent-work {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .work-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .work-item img {
      width: 100%;
      height: auto;
    }
    .tech-stack-logos img {
      width: auto;
      max-height: 50px; 
    }
  }


